.msg {
  padding: 10px;
  background-color: #ffffff79;
  max-width: 250px;
  min-height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 7px;
  word-wrap: break-word;
  font-family: sans-serif;
  font-style: italic;
  &__text {
    display: block;
    width: 240px;
    font-size: 14px;

  }
  &__author {
    color: #1565c0;
    font-weight: 700;
  }
}

.bot {
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-radius: 10px;
  min-height: 50px;
  margin-left: 280px;
  background-color: #62728a;
  margin-bottom: 7px;
  word-wrap: break-word;
  font-family: sans-serif;
  font-style: italic;
  &__botAuthor {
    color: #789ac0;
    font-weight: 700;
  }
}
