.chatlist {
  background-color: #161414;
  width: 230px;
  max-height: 99%;
  font-size: 16px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 7px;
  &__light{
    background-color: #ccc;
  }
}