@import 'src/assets/_vars.scss';

.message__default {
	width: 360px;
  height: 30px;
  max-height: 60px;
  background: #1e1b1b;
  border: 0.1px solid #284779;
  border-radius: 10px;
  text-align: left;
  color: #4978af;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 20px;
  padding: 4px 8px;
  &::placeholder{
    color: #4979af75;
  }
  &:focus{
    border: 0.5px solid #284779;
  }
}

.msg__widthBorder {
  border: 0.5px solid #284779;
}
.msg__borderRadius {
  border-radius: 20px;
}
.msg__textAlign {
  text-align: right;
}
.msg__width {
  width: 500px;
}
.msg__lihgt {
  background: $lightTheme;
}
.msg__text {
  color: #5898e0;
  font-size: 18px;
}
