@import 'src/assets/vars.scss';
@import 'src/assets/zeroStyle.scss';

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.app {
  margin-top: 20vh;
  height: 60vh;
  display: flex;
  justify-content: space-between;
}


body  {
  background-color: $darkTheme;
}