.delChat__dark {
  fill: #284779;
  stroke: none;
  background-color: #161414;
  transition: all 0.4s;
  &:hover {
    fill: #7f97be;
  }
}

.delbutton__dark {
  margin-right: 120px;
  background-color: #161414;
  width: 35px;
  height: 35px;
}

.delChat__light {
  fill: #6fa0f0;
  stroke: none;
  background-color: #161414;
  &:hover {
    fill: #284779;
  }
}

.delbutton__light {
  fill: #6fa0f0;
  margin-right: 120px;
  background-color: #161414;
}
