.form {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 560px;
  &__flex {
    display: flex;
    align-items: center;
  }
}

.form__flexAround {
  display: flex;
  justify-content: space-around;
  &__flex {
    display: flex;
    align-items: center;
  }
}