.messagelist {
  padding: 5px;
  height: 45vh;
  width: 560px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #1560b617;
  border-radius: 5px;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px #223c5033 inset;
    box-shadow: 5px 5px 5px -5px #223c5033 inset;
    background-color: #29292e;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #969899, #284779);
  }
}

.msg {
  padding: 10px;
  background-color: #ffffff79;
  max-width: 250px;
  min-height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
  &__text{
    display: block;
    width: 240px;
  }
  &:nth-child(even) {
    margin-left: 280px;
    background-color: #62728A;
  }
  &__author {
    color: #1565c0;
    font-weight: 700;   
  }
}

