.chatlinks {
  height: 550px;
  overflow: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px #223c5033 inset;
    box-shadow: 5px 5px 5px -5px #223c5033 inset;
    background-color: #29292e;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #969899, #284779);
  }
}

.chatlink {
  display: flex;
  padding-right: 7px;
  word-wrap: break-word;
  & a {
    color: #284779;
    word-wrap: break-word;
    &:active {
      color: #ccc;
    }
    &:visited {
      color: #ccc;
    }
  }
}
.chatlnk {
  display: block;
  width: 200px;
  max-width: 200px;
  min-height: 35px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #576b86;
  line-height: 24px;
  padding-left: 7px;
  font-size: 20px;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.chatdel {

  width: 20px;
  height: 35px;
  background-color: #576b86;
  font-family: sans-serif;
  font-weight: 800;
  color: #ccc;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
