.message {
	width: 360px;
  padding: 5px 10px;
  background: #1e1b1b;
  border: 0.1px solid #1a1c35;
  border-radius: 10px;
  text-align: left;
  color: #4978af;
  font-size: 16px;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 5px 3px #223c5033 inset;
  -moz-box-shadow: 0px 0px 5px 3px #223c5033 inset;
  box-shadow: 0px 0px 7px 3px #223c5033 inset;
  &::placeholder{
    color: #4979af75;
  }
}